:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #96ba8e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
}

/* Styling for text fields */
.text-field {
  margin-bottom: 15px; /* Spacing between text fields */
}

label {
  display: block; /* Make labels block-level elements */
  color: #4CAF50; /* Green text color for labels */
  font-weight: bold; /* Bold label text */
  margin-bottom: 5px; /* Spacing between label and input */
}

input[type="text"],
input[type="password"] {
  width: 100%; /* Full width input fields */
  padding: 10px; /* Padding inside input fields */
  border: 2px solid #4CAF50; /* Green border */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Font size */
  color: rgb(239, 239, 239); /* Text color */
  outline: none; /* Remove outline on focus */
}

/* Focus effect */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #45a049; /* Darker green on focus */
  box-shadow: 0 0 5px rgba(68, 160, 73, 0.7); /* Box shadow on focus */
}


button {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Letter spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  transition: background-color 0.3s ease; 
}


button:hover {
  border-color: #68a98c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Add "glitch" class and data-text to your html element
Ex:
<h1 class="glitch" data-text="Hover over this!">Hover over this!</h1> */


