:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.Balance{
  color:white;
  font-size: 3em;
  line-height:12px;
  font:bold;
}
a {
  font-weight: 500;
  color: #050508;
  text-decoration: inherit;
}
a:hover {
  color: #70bf7e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color:white;
  font-size: 3em;
  line-height:12px;
}

/* Styling for text fields */


label {
  display: block; /* Make labels block-level elements */
  color: #ffffff; /* Green text color for labels */
  font-weight: bold; /* Bold label text */
  margin-bottom: 5px; /* Spacing between label and input */
}

input[type="text"],
input[type="password"],
input[type="email"]
{

  width: 50%; /* Full width input fields */
  padding: 10px; /* Padding inside input fields */
  border: 2px solid #000000; /* Green border */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Font size */
  color: rgb(0, 0, 0); /* Text color */
  outline: none; /* Remove outline on focus */
  border-radius:15px;
  border-radius:30px;
}

/* Focus effect */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #222422; /* Darker green on focus */
  box-shadow: 0 0 5px rgba(68, 160, 73, 0.7); /* Box shadow on focus */
}


button {
  background-color: #050505; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Letter spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  transition: background-color 0.3s ease; 
  border-radius:10px;
}

.signUp{
  margin-top:3em;
  color:black;
}

button:hover {
  border-color: #68a98c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Add "glitch" class and data-text to your html element
Ex:
<h1 class="glitch" data-text="Hover over this!">Hover over this!</h1> */


